@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

/* Global */
*{
    font-family: 'Rajdhani', sans-serif;
    color: white;
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    border-bottom: cyan 3px solid;
}
.landing-video{ 
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    background-position: center;
}
.landing-overlay {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    background-position: center;
    background: #03a9f4;
    mix-blend-mode: overlay;
}
#branding{
    margin: 0;
    padding: 0;
}

/* ----------- NAV-BAR ----------- */
nav{
    float:right;
    margin-top: 15px;
}

nav li {
    margin: 10px;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:48px;
    padding: 15px;
}
h1{
    font-size: 80px;
    font-style: italic;
    padding-right: 20px;
    margin: 5px;
    position: relative;
    left: 17px;
}
h2{
    margin: 10px;
    font-size: 50px;
}
h3{
    color: rgb(5, 255, 234);
    font-size: 32px;
}
.textz {
    margin: 20px;
    top: 50px;
    left: 50px;
    padding-top: 0;
}
header .highlight, header .current a
{
 color:e8491d;
 font-weight:bold;
}
 header a:hover{
 color:#05f7ff;
 font-weight:bold;
}


/* SECTION: NEWSLETTER */
input[type="email"]{
    width: 250px;
    padding:10px;
    color:black;
}
.newsletter{
    position: relative;
    left: 30px;
    display:flex;
    flex-direction: column;
    width: 30vw;
}

/* SUBSCRIBE BUTTON */
.newsletter button{
    position: relative;
    top: 5px;
    width: 120px;
    font-size: 28px;
    border-color: rgb(234, 0, 255);
    background-color: black;
    color:cyan;
}

/* -------------- FOOTER -------------- */
.container-fluid {
    display: flex;
    justify-content: space-evenly;
    outline: solid 2px cyan;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}
#footer-details {
    padding: 20px;
}
.col-sm-4 {
    display: inline;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-top: 5px;
}
.social-links li a i {
    margin: 0 10px;
    width:64px;
    height: 64px;
    padding: 24px 0;
    border-radius: 50%;
    font-size: 36px;
    line-height: 16px;
    text-align: center;
    color: white;
    background-color: rgb(35, 0, 236);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
    background:greenyellow;
    color: black;
}

 /* RESPONSIVENESS: MEDIA QUERIES */
 @media (max-width: 768px){
   body {
    float: none;
    margin: 0;
    padding: 0;
   }
    #branding
{
    margin-top:5px;
    padding: 0;
    height: 70px;
    display: flex;
}
.container {
    height: 150px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}
nav ul,
nav li {
    margin: 0;
    padding: 0;
    top: 90px;
}
ul {
    position: relative;
    top: 100px;
    right: 300px;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    margin: 0;
    padding:0 ;
}

header {
    margin: 0;
    padding: 0;
    float: none;
}
.container a {
    display:flex;
    font-size:30px;
}

h1 {
    position: relative;
    left: 40px;
   font-style:unset;
    margin: 0;
    padding: 0;
}
h2 {
    display: inline;
    font-size: 20px;
    
}
h3 {
    font-size: 24px;
    padding: 0;
    margin: 0;
}
.newsletter {
    position: relative;
    top: 50px;
    width: 70%;
    padding: 0;
    margin: 0;
    top: 100px;
    left: 50px;
    right: 0;
    bottom: 0;
    text-align: center;
}
input[type="email"]{
    width: 100%;
}
.newsletter button{
width: 100%;
}

.textz {
    position: relative;
    top: 0px;
    left: 12px;
    margin: 0;
    margin-top: 10px;
    width: 90%;
    /* margin-top: 10px; */
    padding: 0;
}
/* FOOTER - RESPONSIVENESS */
.container-fluid{
    position: relative;
    top: 500px;
    height: 100px;
    width: 100%;
    border: solid 2px cyan;
    outline: none;
}
#footer-details {
    display: inline;
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
}
.col-sm-4 {
    position: relative;
    top: -90px;
    left: 300px;
}
.list-inline {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.social-links li a i {
    font-size: 48px;
    width: 64px;
    height: 64px;
    padding: 24px 0;
    margin: 0 5px;
    line-height: 16px;
    text-align:center;
}
}

