@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

/* Global */
*{
    font-family: 'Rajdhani', sans-serif;
    color: rgb(253, 253, 253);
    box-sizing: border-box;
    overflow: hidden;
    margin:0;
    padding:0;
}
.container{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    border-bottom: cyan 3px solid;
}
/* ----------- NAV-BAR ----------- */
.navbar a {
    font-size: 3rem;
}
.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-right: 40px;
    /* outline: auto; */
}
header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:48px;
    padding: 15px;
}
#branding a{
    text-transform: none;
    font-size: 80px;
    font-style: italic;
    padding-right: 20px;
    margin: 5px;
    /* position: relative; */
    left: 17px;
}
h2{
    margin: 10px;
    font-size: 50px;
}
h3{
    color: rgb(5, 255, 234);
    font-size: 32px;
}
p {
    display:flex;
    font-size: 20px;
    color: white;
}
header .highlight, header .current a
{
 color:e8491d;
 font-weight:bold;
}
 header a:hover{
 color:#05f7ff;
 font-weight:bold;
}
/* ABOUT - MAIN CONTENT */
.about-text {
    position: absolute;
    top: 280px;
    height: 100px;
    width: 100%;
    background-color:blue;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5px;
}
.texts {
    position: relative;
    width: 400px;
}
/* BOXES */
#boxes {
    position: absolute;
    top: 380px;
   display: flex;
   /* gap: 300px; */
   justify-content: space-evenly;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    color:rgb(238, 171, 25);
}
#boxes .box{
    color: rgb(52, 55, 240);
    text-align: center;
    width: 400px;
    height: 200px;
}
.img-resize-1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img-resize-2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: solid 3px blue;
}
.img-resize-3 {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
a {
    font-size: 24px;
}
/* -------------- FOOTER -------------- */
.footer-container {
    display: flex;
    justify-content: space-evenly;
    outline: solid 2px cyan;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background-color: black;
}
#footer-details {
    padding: 20px;
}
.col-sm-4 {
    display: inline;
    
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-top: 5px;
}
.social-links li a i {
    margin: 0 10px;
    width:64px;
    height: 64px;
    padding: 24px 0;
    border-radius: 50%;
    font-size: 36px;
    line-height: 16px;
    text-align: center;
    color: white;
    background-color: rgb(35, 0, 236);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
    background:greenyellow;
    color: black;
}


/* RESPONSIVENESS: MEDIA QUERIES */

 /* IPHONE SE & XR, GOOGLE PIXEL 5 (1080px) */
 @media screen and (min-width: 320px) and (max-width: 359px){
    body {background-color: green; }
    .p1 {display:flex; font-size: 24px;}
    .p2, .p3, .p4, .p5, .p6, .p7 {display:none;}
}

/* SAMSUNG GALAXY S20 (360px) */
@media screen and (min-width: 360px) and (max-width: 480px) 
{
    body {background-color: blue; }
    .p2 {display:flex; font-size: 24px;}
    .p1, .p3, .p4, .p5, .p6, .p7 {display:none;}
    #branding  {
        display:flex;
        justify-content: center;
        margin-top: 10px;
    }
    #branding a {
        margin: 0;
        padding: 0;
        font-size: 5rem;
    }
    .header-container
    {
        display:flex;
        flex-direction: column;
        margin: 0;
        padding: 0;  
        height: 150px;
        
    }
    .navbar {
        margin: 0;
        padding: 0;  
        position: relative;
        left: 5px;
        
    }
    .navbar a {
        margin: 0;
        position: relative;
        bottom: 27px;
        font-size: 2rem;
        
    }
    .landing-video {
        transform: translateX(-30%) translateY(-35%);
    
        
    }
    .landing-overlay {
        background:rgb(44, 240, 240);
        mix-blend-mode: color-burn;
    }
    .landing-text h2 {
        margin: 0;
        padding: 0; 
        font-size: 2rem;
        text-align: center;
        /* display:none; */
    }
    .newsletter {
        display:flex;
        width: 100%;
    }
    .newsletter h3{
        font-size: 1.8rem;
        text-align: center;
    }
    .newsletter button {
        width: 100%;
        font-size: 1.5rem;
    }
    #validateEmail {
        width: 100%;
        text-align: center;
    }
    /* FOOTER */
    .footer-container {  
        position: relative;
        top: 195px;
        width: 100%;
    }
    .social-links li a i { 
        width: 50px;
        height: 42px;
        font-size: 1.8rem;
        line-height: 0.4rem;  
}
}

/* MOBILE DEVICES [0 < 481] */
@media screen and (min-width: 481px) and (max-width: 566px){
    body {background-color: purple; }
    .p3 {display:flex; font-size: 24px;}
    .p1, .p2, .p4, .p5, .p6, .p7 {display:none;}

}

/* IPADS & TABLETS [481 < 768] */
@media screen and (min-width: 576px) and (max-width: 767px) {
    body {background-color: brown; }
    .p4 {display:flex; font-size: 24px;}
    .p1, .p2, .p3, .p5, .p6, .p7 {display:none;}
}

/* LAPTOPS - Smaller screens [769 < 991] */
@media screen and (min-width: 768px) and (max-width: 991px){
    body {background-color:  red; }
    .p5 {display:flex; font-size: 24px;}
    .p1, .p2, .p3, .p4, .p6, .p7 {display:none;}
}
/* Dell XPS 13 (1080px) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    body {background-color: orange; }
    .p6 {display:flex; font-size: 24px;}
    .p1, .p2, .p3, .p4, .p5, .p7 {display:none;}
}

