@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rajdhani', sans-serif;
  color: #ffffff;
  background-color: black;
}

/* --- EFFECT: HIGHLIGHT --- */ 
.current a,
.landing-text h2 {
  filter: drop-shadow(2px 2px 2px rgba(155, 141, 13, 0.9));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right,  rgb(11, 238, 11), rgb(145, 235, 0), rgb(17, 230, 17));
}

/* --- EFFECT: HOVER --- */ 
.navbar a:hover,
.logotype:hover,
.post-section a:hover {
  color: #05ffee;}
.newsletter-button:hover {
  background-color: #05f7ff;
  color: black;}
.contact-button:hover,
.social-links li a i:hover {
  background: greenyellow;
  color: black;}

/* BORDERS */ 
.header-container,
.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #000000;
  border-image: linear-gradient(
    to right,
    #310167 30%,
    rgb(0, 247, 255) 50%,
    #310167 70%
    ) 1 2 10%;}

/* HEADER */ 
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  padding: 1.3em 3em;
  background-color:black;
  border-bottom: 4px solid;
}
.logotype img {
  margin-top: 0.2em;
}

/* NAVBAR */
.navbar-list {
  display: flex;
  gap: 3em;
  list-style: none;
}
.navbar-link {
  text-transform: uppercase;
  text-decoration: unset;
  font-size: 3rem;
  color: #ffffff;
}

/* LANDING TEXT */ 
.landing-text h2 {
  font-style: italic;
  font-size: 3.5rem;
}
  
/* POSTS SECTION */
.post-section-container {
  display: flex;
  justify-content: center;
  margin: 4.4em 0;
}
.post-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 4em;
}
.post,
.post-image{
  border: 5px solid;
  border-image:linear-gradient(
      to bottom,
      rgba(8, 85, 201, 0.5),
      rgba(8, 255, 255, 0.8),
      rgba(255, 25, 224, 0.8),
      rgba(255, 25, 224, 0.1)
  ) 1 2 10% 90%;
}
.post {
  height:35em;
  width:28em;
  padding: 1em 1.5em;
  background-color: black;
} 
.post-image {
  object-fit: cover;
  width: 100%;
  height: 15em;
  padding: 0.2em;
} 
.post-header {
  margin: 0.3em 0;
  font-size: clamp(0.2rem, 0.7vw + 1rem, 3rem);
}
.post-text {
  height:12em; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.2rem, 0.5vw + 1rem, 1rem);
  line-height: 1.3em;
}
.post-read-more {
  float:right;
}
.post-read-more-text {
  color:cyan;
  font-size: clamp(0.2rem, 1vw + 1rem, 1.2rem);
}

/* FOOTER */
.footer-container {  
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-evenly;
  padding: 1em 0;
  border-top: 4px solid;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 0.4em;
}
.social-links a{
  font-size: 3.2rem;
}
.social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1em;
}
.social-links-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.social-links-item-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70px;
  height: 70px;
  padding: 0.3em;
  border-radius: 50%;
  color: white;
  background-color: rgb(34, 2, 214);
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

/* NEWSLETTER */
.newsletter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5em;
}
.newsletter-header { 
  text-align: center;
  color: cyan;
  font-size: 1.7rem;
  background-color: black;
}
input[type="email"] {
  outline: unset;
}
.newsletter-form-input {
  text-align: center;
  width: 100%;
  font-family: "Rajdhani";
  font-size: 1.5rem;
  color: black;
  outline: unset;
}
.newsletter-button {
  width: 100%;
  font-size: 1.7rem;
  background-color: black;
  color: cyan;
  border: 8px solid;
  border-image: linear-gradient(
    to bottom,
    rgba(50, 8, 201, 0.5),
    rgba(8, 255, 255, 0.8),
    rgba(255, 25, 224, 0.8),
    rgba(255, 25, 224, 0.1)
  ) 1 2 10% 90%;
}

/* MEDIA QUERIES */
@media screen and (min-width: 0em) and (max-width: 119em){
/* HIDDEN */
.post-2,
.post-3,
.newsletter-container,
.landing-text{
  display: none;
}

/* HEADER */
.header-container {
  display: flex;
  flex-wrap:nowrap;
  flex-direction: column;
  justify-content: center;
  height: 6em;
  padding: 1em 0;
 }
.logotype-section{
  margin-top: 1em;
  margin-bottom: 0.2em;
}
.logotype img{
 width: 13em;
}

/* NAVBAR */
.navbar {
  margin: 0.5em 0;
}
.navbar-list {
  gap:1.5em;
}
.navbar-link {
  font-size: 1.2rem;
}

/* POSTS SECTION */
.post-section-container{
  margin: 1.3em 0;
}
.post-section {
  margin: 0 1.2em;
}
.post{
  text-align: center;
  padding: 0 1em;
  height: auto;
  width:auto;
}
.post-image {
  object-fit: contain;
  margin-top: 0.5em;
  height: 4em;
  border: 2px solid;
  border-image:linear-gradient(
    to bottom,
    rgba(8, 85, 201, 0.5),
    rgba(8, 255, 255, 0.8),
    rgba(255, 25, 224, 0.8),
    rgba(255, 25, 224, 0.1)
  ) 1 2 10% 90%;
} 
.post-header {
  text-align: start;
  margin-bottom: 0.3em;
  font-size: 1.2rem;
}
.post-text {
  height:14.5em;
  margin-bottom:0.5em;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.2rem, 1vw + 0.65rem, 3rem);
}
.post-read-more {
  float:right;
  margin: 0.5em 0;
  color: cyan;
}
.post-read-more-text {
  color:cyan;
  font-size: 1.1rem;
}

/* FOOTER */
.footer-container {
  padding:0.4em 0;
}
.social-links{
  gap: 1em;
  padding:0.1em;
}
.social-links-item-bg {
  width: 46px;
  height: 46px;
}
.social-links a{
  font-size: 2rem;
}
.social-list-item {
  padding:0em;
}
}
@media screen and (min-width: 23em) and (max-width:119em){
.post-section-container {
  margin: 4.2em 0;
}
.social-links {
  gap:1.5em;
}
}
@media screen and (min-width: 25.875em) and (max-width:119em){
.navbar-link {
  font-size: 1.5rem;
}
.post-section-container {
  margin: 3.3em 0;
}
.post-header {
  font-size: 1.6rem;
}
.post-text {
  font-size: 1.2rem;
}
.post-read-more{
  margin-bottom: 0.6em;
}
.post-read-more-text{
  font-size: 1.4rem;
}
.social-links {
  gap:2em;
}
}
@media screen and (min-height: 50.75em) and (max-width:119em){
.navbar-link {
  font-size: 1.5rem;
}
.post-section-container {
  margin: 3.1em 0;
}
.post-section {
  margin: 0 1em;
}
.post {
  padding: 0 1.5em;
}
.post-image {
  height: 7em;
}
.post-header {
  font-size: 1.5rem;
}
.post-text {
  height: auto;
  font-size: 1.2rem;
  margin-bottom:1em;
}
.post-read-more {
  margin:1em 0;
}
.social-links {
  gap: 1.6em;
}
}
@media screen and (min-width: 37.5em) and (max-width:119em){
.header-container{
  height: 8em;
}
.logotype img {
  width: 20em;
}
.navbar-link {
  font-size: clamp(0.5rem, 1vw + 1.5rem, 3rem);
}

/* POSTS SECTION */
.post-section-container {
margin: 1.5em 0;
}
.post-section {
  margin:0 1.5em;
}
.post-image {
  height: 8em;
  margin-top: 1em;
}
.post-text {
  height:auto;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.post-read-more {
  margin: 1.2em 0;
}

/* FOOTER */
.footer-container {
  padding: 0.8em 0;
}
.social-links {
  gap: 3em;
}
.social-links-item-bg {
  width: 60px;
  height: 60px;
  padding: 0.3em;
}
.social-links a {
  font-size: 2.6rem;
}
}
@media screen and (min-width: 48em) and (max-width:119em){
.header-container {
  height: 10em;
}
.logotype img{
  width: 25em;
}
.navbar-list {
  gap: 3em;
}
.navbar-link {
  font-size: clamp(0.5rem, 1vw + 2rem, 5rem);
}
.post-section-container {
margin: 1.9em 0;
}
.post {
  padding: 0 clamp(0.5rem, 1vw + 3rem, 10rem);;
}
.post-image {
  height: 12em;
}
.post-header {
  font-size: clamp(0.5rem, 1vw + 2rem, 4rem);
}
.post-text {
  height: auto;
  line-height: 2.5rem;
  font-size: clamp(0.5rem, 1vw + 1rem, 3rem);
}
.post-read-more{
  margin-bottom: 1.5em;
}
.post-read-more-text{
  font-size: clamp(0.5rem, 1vw + 1.5rem, 5rem);
}

/* FOOTER */
.footer-container {
  padding: 1em;
}
.social-links-item-bg{
  width: 80px;
  height: 80px;
}
.social-links a{
  font-size: clamp(1rem, 1vw + 3rem, 5rem);
}
.social-links {
  gap: 4em;
}
}
@media screen and (min-width: 62em) and (max-width:119em) {
.header-container {
  height: 13em;
}
.logotype-section {
  margin-top: 2em;
}
.logotype img{
  width: 30em;
}

/* NAVBAR */
.navbar {
  margin-top: 2em;
}
.navbar-list {
  gap: 5em;
}
.navbar-link {
  font-size: 3rem;
}
.post-section-container {
  margin: 4.5em 0;
}
.post-section {
  margin: 0 5em;
}
.post {
  padding: 0 3em;
  margin: 2em 0em;
} 
.post-image {
  height: 15em;
} 
.post-header {
  font-size: 3.5rem;
}
.post-text{
  margin-bottom: 0.5em;
  line-height: 3rem;
  font-size: 2.1rem;
}
.post-read-more {
  margin: 1.5em 0;
}
.post-read-more-text{
  font-size: 2.6rem;
}
.social-links {
  gap: 6.5em;
}
}