@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;}

body {
  font-family: 'Rajdhani', sans-serif;
  color: #ffffff;
  background-color: black;}


/* --- EFFECT: HIGHLIGHT --- */ 
.current a,
.logotype,
.landing-text h2 {
  filter: drop-shadow(2px 2px 2px rgba(155, 141, 13, 0.9));
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right,  rgb(11, 238, 11), rgb(145, 235, 0), rgb(17, 230, 17));
  color: transparent;
}

/* --- EFFECT: HOVER --- */ 
.navbar a:hover {
  color: #910aff;
 }
.logotype:hover {
  color: #05f7ff;}
.newsletter-button:hover {
  background-color: #05f7ff;
  color: black;}
.post-section a:hover {
  color: cyan;}
.contact-button:hover,
.social-links li a i:hover {
  background: greenyellow;
  color: black;}


  .article-section,
  .article,
  .article-image,
  .resource-image {
        border-image:linear-gradient(
          to bottom,
          rgba(8, 85, 201, 0.5),
          rgba(8, 255, 255, 0.8),
          rgba(255, 25, 224, 0.8),
          rgba(255, 25, 224, 0.1)
        ) 1 2 10% 90%;
  }

/* - BORDER: HEADER & FOOTER - */ 
.header-container,
.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #000000;
  border-image: linear-gradient(
    to right,
    #310167 30%,
    rgb(0, 247, 255) 50%,
    #310167 70%
    ) 1 2 10%;}


  /* - HEADER - */ 
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  padding: 0 3em;
  background-color:black;
  border-bottom: 4px solid;
 }

.logotype {
  text-decoration: unset;
  font-family: "Conthrax";
  font-size: 3rem;
}

/* - NAV-BAR - */

.navbar-list {
  list-style: none;
  display: flex;
  gap: 3em;
}

.navbar-link {
  color: #ffffff;
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: unset;}

/* - LANDING TEXT - */ 
.landing-text h2 {
  font-size: clamp(2rem, 1vw + 2.3rem, 5rem);
  font-style: italic;
}
  
/* - POSTS SECTION - */
.post-section-container {
  display: flex;
  justify-content: center;
  margin: 4.4em 0;
}
.post-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 4em;
}

.post {
  height:35em;
  width:28em;
  padding: 1em 1.5em;
  background-color: black;
  border: 5px solid;
  border-image:linear-gradient(
      to bottom,
      rgba(8, 85, 201, 0.5),
      rgba(8, 255, 255, 0.8),
      rgba(255, 25, 224, 0.8),
      rgba(255, 25, 224, 0.1)
  ) 1 2 10% 90%;
} 

.post-image {
  padding: 0.2em;
  object-fit: cover;
  width: 100%;
  height: 15em;
  border: 5px solid;
  border-image:linear-gradient(
      to bottom,
      rgba(8, 85, 201, 0.5),
      rgba(8, 255, 255, 0.8),
      rgba(255, 25, 224, 0.8),
      rgba(255, 25, 224, 0.1)
    ) 1 2 10% 90%;
} 

.post-header {
  margin: 0.3em 0;
  font-size: clamp(0.2rem, 0.7vw + 1rem, 3rem);
}
.post-text {
  line-height: 1.3em;
  height:12em; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.2rem, 0.5vw + 1rem, 1rem);}
.post-read-more {
  float:right;
  font-size: clamp(0.2rem, 1vw + 1rem, 1.2rem);
  color: cyan;
}
.post-read-more-text {
  color:cyan;
}

/* - FOOTER - */
.footer-container {  
  flex-direction:row-reverse;
  justify-content: space-evenly;
  padding: 1em 0;
  border-top: 4px solid;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.social-links li a i {
  text-align: center;
  margin: 0.4em;
  width: 70px;
  height: 70px;
  line-height: 4.5rem;
  font-size: clamp(3rem, 1vw + 1rem, 5rem);
  border-radius: 50%;
  color: white;
  background-color: rgb(34, 2, 214);
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}


/* - NEWSLETTER - */
.newsletter-container {
  margin-left: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-header { 
  text-align: center;
  color: cyan;
  font-size: clamp(1rem, 1vw + 1rem, 1.7rem);
  background-color: black;}

input[type="email"] {
  outline: unset;}

.newsletter-form-input {
  text-align: center;
  width: 100%;
  font-family: "Rajdhani";
  font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
  color: black;
  outline: unset;}
    
.newsletter-button {
  width: 100%;
  font-size: clamp(1rem, 1vw + 1rem, 1.7rem);
  background-color: black;
  color: cyan;
  border: 8px solid;
  border-image: linear-gradient(
    to bottom,
    rgba(50, 8, 201, 0.5),
    rgba(8, 255, 255, 0.8),
    rgba(255, 25, 224, 0.8),
    rgba(255, 25, 224, 0.1)
  ) 1 2 10% 90%;
}


/* - MEDIA QUERIES - */
@media screen and (min-width: 0em) and (max-width: 119em){

/* ----------- HEADER ----------- */
.header-container {
  display: flex;
  justify-content: center;
  flex-wrap:nowrap;
  flex-direction: column;
  height: 6em;
  padding: 1em 0;
  gap:0;
  width: 100%;
 }
.logotype-container{
  margin-top: 1em;
  margin-bottom: 0.4em;
}
.logotype {
  font-size: 1.7rem;
}

/* ----------- NAV-BAR ----------- */
.navbar {
  margin: 0.5em 0;
}
.navbar-list {
  gap:1.5em;
}

.navbar-link {
  font-size: 1.2rem;
}

/* -------------- POSTS SECTION -------------- */
.post-section-container{
  margin-top: clamp(0.2em, 1vw + 0.2em, 10em);
  margin-bottom: clamp(0.2em, 1vw + 0.1em, 10em);
}
.post-section{
  margin: 0 clamp(0.2em, 1vw + 1.5em, 40em);
}

.post{
  padding: 0 clamp(0.2em, 0.5vw + 1em, 10em);
  height: clamp(20em, 1vw + 24.5em, 60em);
  width:auto;
  text-align: center;
}

.post-image {
  object-fit: contain;
  margin-top: clamp(0.7em, 1vh + 1em, 5em);
  height: clamp(1em, 1vh + 5em, 10em);
  border: 2px solid;
  border-image:linear-gradient(
    to bottom,
    rgba(8, 85, 201, 0.5),
    rgba(8, 255, 255, 0.8),
    rgba(255, 25, 224, 0.8),
    rgba(255, 25, 224, 0.1)
  ) 1 2 10% 90%;
} 

.post-header {
  margin-bottom: clamp(0.3em, 1vw + 0.2em, 10em) 0;
  text-align: start;
  font-size: clamp(0.2rem, 1vw + 0.9rem, 2rem);
}

.post-text {
  height:14.5em;
  margin-bottom:0em;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.2rem, 1vw + 0.65rem, 3rem);
}

.post-read-more {
  float:right;
  color: cyan;
  margin: clamp(0.2em, 1vw + 0.2em, 10em) 0;
}

.post-read-more-text {
  color:cyan;
  font-size: clamp(0.2rem, 1vh + 0.8rem, 5rem);
}

/* - FOOTER - */
.post-2,
.post-3,
.newsletter-container,
.landing-text{
  display: none;
}
.footer-container {  
  margin:0;
  padding:0;
}

.social-links li a i {
  text-align: center;
  width: 42px;
  height: 42px;
  line-height: 2.5rem;
  font-size: clamp(0.2rem, 1vw + 1.5rem, 5rem);
}
}

/* MEDIA QUERIES */
@media screen and (min-width: 23em) and (max-width:119em){
.post-section-container {
  margin-top:2em;
  margin-bottom:4.2em;
}
.post {
  height:auto;
}
}

@media screen and (min-width: 25.875em) and (max-width:119em){
  
.navbar-link {
  font-size: 1.5rem;
}
.post-section-container {
  margin-top: 2em;
  margin-bottom: 2.5em;
}
.post-header {
  font-size: 1.6rem;
}
.post-text {
  font-size: 1.2rem;
}
.post-read-more{
  margin-bottom: 0.6em;
}
.post-read-more-text{
  font-size: 1.4rem;
}
}

/* iPhone X - MIN-HEIGHT  */
@media screen and (min-height: 50.75em) and (max-width:119em){
.navbar-link {
  font-size: 1.5rem;
}
  
.post-section-container {
  margin-top: 3em;
  margin-bottom: 2.8em;
  }
.post-section {
  margin: 0 1em;
  }
.post {
  padding: 0 1.5em;
  }
.post-header {
  font-size: clamp(0.2rem, 1vh + 1rem, 5rem);
}
.post-text {
  height: auto;
  font-size: 1.2rem;
  margin-bottom:1em;
}

.post-read-more {
margin:1em 0;
}
}


@media screen and (min-width: 37.5em) and (max-width:119em){
.header-container{
  height: 8em;
  }
.logotype-container {
  margin-top: 1em;
  margin-bottom: 0.2em;
   }
.logotype {
  font-size: clamp(0.5rem, 1vw + 2.2rem, 5rem);
  }

.navbar-link {
  font-size: clamp(0.5rem, 1vw + 1.5rem, 3rem);
  }
  /* -------------- BLOG -------------- */
.post-section-container {
  margin-top:1em;
  margin-bottom: 1em;
  }
.post-image {
  height: 10em;
}

.post-text {
  height:auto;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.post-read-more {
  margin: 1.2em 0;
}
}

@media screen and (min-width: 48em) and (max-width:119em){

.header-container {
  height: 10em;
}
.logotype {
  font-size: clamp(0.5rem, 1vw + 3rem, 7rem);
}
.navbar-list {
  gap: 3em;
}
.navbar-link {
  font-size: clamp(0.5rem, 1vw + 2rem, 5rem);
}
.post-section-container {
  margin-top: 2em;
  margin-bottom: 3em;
}
.post {
  padding: 0 clamp(0.5rem, 1vw + 3rem, 10rem);;
}

.post-header {
  font-size: clamp(0.5rem, 1vw + 2rem, 4rem);
}

 
.post-text {
  height: auto;
  line-height: 2.5rem;
  font-size: clamp(0.5rem, 1vw + 1rem, 3rem);
}

.post-read-more{
  margin-bottom: 1.5em;
}
.post-read-more-text{
  font-size: clamp(0.5rem, 1vw + 1.5rem, 5rem);
}

.social-links li a i {
  text-align: center;
  margin: 0.4em;
  width: 70px;
  height: 70px;
  line-height: 4.5rem;
  font-size: clamp(1rem, 1vw + 2.5rem, 5rem);
}
}

@media screen and (min-width: 62em) and (max-width:119em) {
.post-section-container {
  margin-top: 5em;
  margin-bottom: 6.5em;
  }
.post-section {
  margin: 0 5em;
  }
.post {
  height: auto;
  padding: 0 3em;
  margin: 2em 0em;
} 
.post-image {
  height: 15em;
} 
.post-header {
  font-size: clamp(0.5rem, 1vw + 2.5rem, 5rem);
}
.post-text{
  height: auto;
  line-height: 3rem;
  font-size: clamp(0.5rem, 1vw + 1.5rem, 4rem);
  margin-bottom: 0.5em;
}
.post-read-more {
  margin: 1.5em 0;
}
.post-read-more-text{
  font-size: clamp(0.5rem, 1vw + 2rem, 5rem);
}
.social-links {
  gap: 3em;
}
}