@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

/* Global */
*{
    /* outline: 1px solid greenyellow; */
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

/* clamp() format: (min, desired value, max) */
/* :root {
    --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
    --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
    --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
    --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
    --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
    --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);
  } */
body {
    background-color: rgb(87, 80, 80); 
    font-family: 'Rajdhani', sans-serif;
    font-size: clamp(1rem, 1vw + 0.5rem, 5rem);
    color: white;
    width: 100%;
    /* overflow-x:hidden; */
}
.header-container{
    display:flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3em;
    background-color:rgb(7, 7, 7, 0.4);
    border-bottom: 2px solid;
        border-image: linear-gradient(
        to right,
        #FF00FF 10%,
        rgb(0, 255, 255) 60%,
        #FF00FF 70%
        ) 1 2 10%;
}
.logotype{
    position: relative;
    top: 0.2em;
    left: 4%;
    color:#ffffff;
    text-decoration: unset;
    /* font-size: var(--step-5); */
    /* font-size: 4rem; */
    font-size: clamp(4rem, 1vw + 0.5rem, 5rem);
    margin: 0.5em;
    font-family: "Conthrax";
}
.landing-video,
.landing-overlay { 
    /* display:none; */
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 300%;
    min-height: 300%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateY(10deg);
    background-size: cover;
    background-position: center;
}

.landing-overlay {
    background: #524399;
    mix-blend-mode: overlay;
}

/* ----------- NAV-BAR ----------- */

.navbar {
    width: 30%;
    position: relative;
    top: -1.7em;
    left: -6em;
    margin: 1em;
}

.navbar ul {
    display: flex;
    /* justify-content: space-between; */
    gap: 3em;
    list-style: none;
    margin: 0;
    padding: 1em;
}
.navbar a {
    color:#ffffff;
    font-size: clamp(3rem, 2vw + 1.5rem, 5rem);
    text-transform: uppercase;
    text-decoration: unset;
}





.navbar .highlight, 
.navbar .current a
{
 color:e8491d;
 font-weight:bold;
}
 .navbar a:hover{
 color:#05f7ff;
 font-weight:bold;
}
 .logotype:hover{
 color:#05f7ff;
}

.form-button:hover{
 background-color:#05f7ff;
 color: black;
}
/* -------------- FOOTER -------------- */
.footer-container {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 5em;
    background-color: rgba(0, 0, 0, 0.9) ;
    border-top: 2px solid;
    border-image: linear-gradient(
        to left,
    #FF00FF 10%,
    rgb(0, 255, 255) 60%,
    #FF00FF 70%
) 1 2 10%;
}

#footer-details {
    padding: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-top: 5px;
}
.social-links li a i {
    margin: 0 30px;
    width: 80px;
    height: 80px;
    padding: 24px 0;
    border-radius: 50%;
    font-size: clamp(3.5rem, 1vw + 0.5rem, 5rem);
    line-height: 2rem;
    text-align: center;
    color: white;
    background-color: rgb(35, 0, 236);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
    background:greenyellow;
    color: black;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7 {
display:none;
position: relative;
top:200px;}

 /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
 /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
 /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
 /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
 /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
 /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */

 /* 320px = 20em */
 @media screen and (min-width: 20em) and (max-width: 21em){
  
/* -------------- HEADER -------------- */ 
.header-container
{
        display:flex;
        flex-direction: column;
        margin: 0;
        padding: 0;  
        height: 130px;    
        width: 100%;
}
#branding  {
        display:flex;
        justify-content: center;
}
.logotype {
        position: relative;
        left: 0.1em;
        top: 0.5em;
        margin: 0;
        padding: 0;
        font-size: clamp(2.5rem, 1vw + 0.5rem, 3rem);
}
/* -------------- NAVBAR -------------- */ 
.navbar {
        position: relative;
        display: flex;
        
        
        left: 0em;
        top: 1em;
        width: 100%;
        height: 100%;
        margin: 0em;
        padding: 0.2em;

}
.navbar ul {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    /* outline: auto; */
}
.navbar a {
        padding: 0;
        margin: 0 em;
        font-size: clamp(1.8rem, 0.5vw + 0.5rem, 3rem);
}
.landing-video {
        transform: translateX(-30%) translateY(-40%);
}

/* -------------- NEWSLETTER -------------- */
.newsletter-container {
    position: relative;
    top: 0em;
    left:0;
    padding: 0.5em;
    display:flex;
    align-items: center;
    justify-content: center;
    
   /* outline: auto; */
}
.newsletter{
    padding: 0.5em;
    max-width: 80%;
}
.newsletter-container h2{
    display:none;
    font-style: italic;
    text-align: center;
    margin-top: 0em;
    padding: 0.3em;
    font-size: clamp(1rem, 1vw + 1rem, 1.1rem);
}
.newsletter h3{
    /* display: none; */
    text-align: center;
    color:cyan;
    font-size: clamp(0.5rem, 0.5vw + 1rem, 2rem);
    background-color: black;
}
input[type="email"]{
    padding:1em;
    outline: unset;
}
#validateEmail {
    text-align: center;
    width: 100%;
    font-family: "Rajdhani";
    font-size: clamp(1rem, 0.5vw + 0.5rem, 2rem);
    margin: 0;
    padding: 0.2em;
    background-color: none;
    color:white;
    outline: unset;
}
.form-button{
    font-family: "Conthrax";
    width: 100%;
    font-size: clamp(1.5rem, 0.2vw + 0.5rem, 1rem);
    background-color: black;
    color:cyan;
    border-top: 10px solid ;
        border-right: 10px solid ;
        border-bottom: 10px solid;
        border-left: 10px solid ;
        border-image:linear-gradient(
            to bottom,
            rgba(50, 8, 201, 0.5),
            rgba(8, 255, 255, 0.8),
            rgba(255, 25, 224, 0.8),
            rgba(255, 25, 224, 0.1)
          ) 1 2 10% 90%;
}

/* -------------- BLOG -------------- */
.blog-container {
    /* outline: 5px solid red; */
    background-color: black;
    position: relative;
    top: 1em;
    max-width: 20em;
    padding: 0.8em;
    margin: 1em auto;
    border-top: 3px solid ;
    border-right: 3px solid ;
    border-bottom: 3px solid;
    border-left: 3px solid ;
    border-image:linear-gradient(
        to bottom,
        rgba(8, 85, 201, 0.5),
        rgba(8, 255, 255, 0.8),
        rgba(255, 25, 224, 0.8),
        rgba(255, 25, 224, 0.1)
      ) 1 2 10% 90%;
}
.blog-post {
    /* outline: auto; */
    padding: 0.5em 1em;
    flex: 0 0 100%;
    margin: 0px;
    position: relative;
    text-align: center;
}
.blog-post img {
    border-radius: 10% 10%;
    max-width: 100%;
    
   
}
.blog-post h2 {
    margin: 0.3em 0;
    text-align:start;
}
.blog-post h3 {
    margin: 0.3em 0;
    text-align:start;
}
.blog-post p {
    text-align:start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.2rem, 0.5vw + 0.7rem, 1rem);
}
.blog-post a {
    float:right;
    position: relative;
    top: -0.5em;
    font-size: clamp(1rem, 0.8vw + 1rem, 2rem);
    color: cyan;
}
/* -------------- FOOTER -------------- */
.footer-container {  
        display:flex;
        margin: 0;
        padding: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        left:0;
        
        border-top: 2px solid;
        border-image: linear-gradient(
        to left,
        #FF00FF 10%,
        rgb(0, 255, 255) 60%,
        #FF00FF 70%
        ) 1 2 10%;
}
.social-links li a i { 
        margin: 0.3em;
        padding: 0;
        width: 40px;
        height: 40px;
        font-size: clamp(1.7rem, 0.8vw + 1rem, 2rem);
        line-height: 2.5rem;  
}
#footer-details {
    padding: 0.2em;
}
}

/* 375px = 23.438em */
@media screen and (min-width: 23.438em) and (max-width: 29em){
    body {background-color: green; }

/* -------------- HEADER -------------- */ 
.header-container
{
        display:flex;
        flex-direction: column;
        margin: 0;
        padding: 0;  
        height: 130px;    
        width: 100%;
}
#branding  {
        display:flex;
        justify-content: center;
}
.logotype {
        position: relative;
        left: 0.1em;
        top: 0.5em;
        margin: 0;
        padding: 0;
        font-size: clamp(2.5rem, 1vw + 0.5rem, 3rem);
}
/* -------------- NAVBAR -------------- */ 
.navbar {
        position: relative;
        display: flex;
        
        
        left: 0em;
        top: 1em;
        width: 100%;
        height: 100%;
        margin: 0em;
        padding: 0.2em;

}
.navbar ul {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    /* outline: auto; */
}
.navbar a {
        padding: 0;
        margin: 0 em;
        font-size: clamp(1.8rem, 0.5vw + 0.5rem, 3rem);
}
.landing-video {
        transform: translateX(-30%) translateY(-40%);
}

/* -------------- NEWSLETTER -------------- */
.newsletter-container {
    position: relative;
    top: 0em;
    left:0;
    padding: 0.5em;
    display:flex;
    align-items: center;
    justify-content: center;
    
   /* outline: auto; */
}
.newsletter{
    padding: 0.5em;
    max-width: 80%;
}
.newsletter-container h2{
    display:none;
    font-style: italic;
    text-align: center;
    margin-top: 0em;
    padding: 0.3em;
    font-size: clamp(1rem, 1vw + 1rem, 1.1rem);
}
.newsletter h3{
    /* display: none; */
    text-align: center;
    color:cyan;
    font-size: clamp(0.5rem, 0.5vw + 1rem, 2rem);
    background-color: black;
}
input[type="email"]{
    padding:1em;
    outline: unset;
}
#validateEmail {
    text-align: center;
    width: 100%;
    font-family: "Rajdhani";
    font-size: clamp(1rem, 0.5vw + 0.5rem, 2rem);
    margin: 0;
    padding: 0.2em;
    background-color: none;
    color:white;
    outline: unset;
}
.form-button{
    font-family: "Conthrax";
    width: 100%;
    font-size: clamp(1.5rem, 0.2vw + 0.5rem, 1rem);
    background-color: black;
    color:cyan;
    border-top: 10px solid ;
        border-right: 10px solid ;
        border-bottom: 10px solid;
        border-left: 10px solid ;
        border-image:linear-gradient(
            to bottom,
            rgba(50, 8, 201, 0.5),
            rgba(8, 255, 255, 0.8),
            rgba(255, 25, 224, 0.8),
            rgba(255, 25, 224, 0.1)
          ) 1 2 10% 90%;
}

/* -------------- BLOG -------------- */
.blog-container {
    /* outline: 5px solid red; */
    background-color: black;
    position: relative;
    top: 1em;
    max-width: 20em;
    padding: 0.8em;
    margin: 1em auto;
    border-top: 3px solid ;
    border-right: 3px solid ;
    border-bottom: 3px solid;
    border-left: 3px solid ;
    border-image:linear-gradient(
        to bottom,
        rgba(8, 85, 201, 0.5),
        rgba(8, 255, 255, 0.8),
        rgba(255, 25, 224, 0.8),
        rgba(255, 25, 224, 0.1)
      ) 1 2 10% 90%;
}
.blog-post {
    /* outline: auto; */
    padding: 0.5em 1em;
    flex: 0 0 100%;
    margin: 0px;
    position: relative;
    text-align: center;
}
.blog-post img {
    border-radius: 10% 10%;
    max-width: 100%;
    
   
}
.blog-post h2 {
    margin: 0.3em 0;
    text-align:start;
}
.blog-post h3 {
    margin: 0.3em 0;
    text-align:start;
}
.blog-post p {
    text-align:start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.2rem, 0.5vw + 0.7rem, 1rem);
}
.blog-post a {
    float:right;
    position: relative;
    top: -0.5em;
    font-size: clamp(1rem, 0.8vw + 1rem, 2rem);
    color: cyan;
}
/* -------------- FOOTER -------------- */
.footer-container {  
        display:flex;
        margin: 0;
        padding: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        left:0;
        
        border-top: 2px solid;
        border-image: linear-gradient(
        to left,
        #FF00FF 10%,
        rgb(0, 255, 255) 60%,
        #FF00FF 70%
        ) 1 2 10%;
}
.social-links li a i { 
        margin: 0.3em;
        padding: 0;
        width: 40px;
        height: 40px;
        font-size: clamp(1.7rem, 0.8vw + 1rem, 2rem);
        line-height: 2.5rem;  
}
#footer-details {
    padding: 0.2em;
}
}

/* 480px = 30em  */
@media screen and (min-width: 30em) and (max-width: 47em) {
/* -------------- HEADER -------------- */ 
.header-container
{
        display:flex;
        flex-direction: column;
        margin: 0;
        padding: 0;  
        height: 130px;    
        width: 100%;
}
#branding  {
        display:flex;
        justify-content: center;
}
.logotype {
        position: relative;
        left: 0.1em;
        top: 0.5em;
        margin: 0;
        padding: 0;
        font-size: clamp(2.5rem, 1vw + 0.5rem, 3rem);
}
/* -------------- NAVBAR -------------- */ 
.navbar {
        position: relative;
        display: flex;
        
        
        left: 0em;
        top: 1em;
        width: 100%;
        height: 100%;
        margin: 0em;
        padding: 0.2em;

}
.navbar ul {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    /* outline: auto; */
}
.navbar a {
        padding: 0;
        margin: 0 em;
        font-size: clamp(1.8rem, 0.5vw + 0.5rem, 3rem);
}
.landing-video {
        transform: translateX(-30%) translateY(-40%);
}

/* -------------- NEWSLETTER -------------- */
.newsletter-container {
    position: relative;
    top: 0em;
    left:0;
    padding: 0.5em;
    display:flex;
    align-items: center;
    justify-content: center;
    
   /* outline: auto; */
}
.newsletter{
    padding: 0.5em;
    max-width: 80%;
}
.newsletter-container h2{
    display:none;
    font-style: italic;
    text-align: center;
    margin-top: 0em;
    padding: 0.3em;
    font-size: clamp(1rem, 1vw + 1rem, 1.1rem);
}
.newsletter h3{
    /* display: none; */
    text-align: center;
    color:cyan;
    font-size: clamp(0.5rem, 0.5vw + 1rem, 2rem);
    background-color: black;
}
input[type="email"]{
    padding:1em;
    outline: unset;
}
#validateEmail {
    text-align: center;
    width: 100%;
    font-family: "Rajdhani";
    font-size: clamp(1rem, 0.5vw + 0.5rem, 2rem);
    margin: 0;
    padding: 0.2em;
    background-color: none;
    color:white;
    outline: unset;
}
.form-button{
    font-family: "Conthrax";
    width: 100%;
    font-size: clamp(1.5rem, 0.2vw + 0.5rem, 1rem);
    background-color: black;
    color:cyan;
    border-top: 10px solid ;
        border-right: 10px solid ;
        border-bottom: 10px solid;
        border-left: 10px solid ;
        border-image:linear-gradient(
            to bottom,
            rgba(50, 8, 201, 0.5),
            rgba(8, 255, 255, 0.8),
            rgba(255, 25, 224, 0.8),
            rgba(255, 25, 224, 0.1)
          ) 1 2 10% 90%;
}

/* -------------- BLOG -------------- */
.blog-container {
    /* outline: 5px solid red; */
    background-color: black;
    position: relative;
    top: 1em;
    max-width: 20em;
    padding: 0.8em;
    margin: 1em auto;
    border-top: 3px solid ;
    border-right: 3px solid ;
    border-bottom: 3px solid;
    border-left: 3px solid ;
    border-image:linear-gradient(
        to bottom,
        rgba(8, 85, 201, 0.5),
        rgba(8, 255, 255, 0.8),
        rgba(255, 25, 224, 0.8),
        rgba(255, 25, 224, 0.1)
      ) 1 2 10% 90%;
}
.blog-post {
    /* outline: auto; */
    padding: 0.5em 1em;
    flex: 0 0 100%;
    margin: 0px;
    position: relative;
    text-align: center;
}
.blog-post img {
    border-radius: 10% 10%;
    max-width: 100%;
    
   
}
.blog-post h2 {
    margin: 0.3em 0;
    text-align:start;
}
.blog-post h3 {
    margin: 0.3em 0;
    text-align:start;
}
.blog-post p {
    text-align:start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.2rem, 0.5vw + 0.7rem, 1rem);
}
.blog-post a {
    float:right;
    position: relative;
    top: -0.5em;
    font-size: clamp(1rem, 0.8vw + 1rem, 2rem);
    color: cyan;
}
/* -------------- FOOTER -------------- */
.footer-container {  
        display:flex;
        margin: 0;
        padding: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        left:0;
        
        border-top: 2px solid;
        border-image: linear-gradient(
        to left,
        #FF00FF 10%,
        rgb(0, 255, 255) 60%,
        #FF00FF 70%
        ) 1 2 10%;
}
.social-links li a i { 
        margin: 0.3em;
        padding: 0;
        width: 40px;
        height: 40px;
        font-size: clamp(1.7rem, 0.8vw + 1rem, 2rem);
        line-height: 2.5rem;  
}
#footer-details {
    padding: 0.2em;
}
}

/* 768px = 48em */
@media screen and (min-width: 48em) and (max-width: 61em){
   /* -------------- HEADER -------------- */ 
.header-container
{
        display:flex;
        flex-direction: column;
        margin: 0;
        padding: 0;  
        height: 130px;    
        width: 100%;
}
#branding  {
        display:flex;
        justify-content: center;
}
.logotype {
        position: relative;
        left: 0.1em;
        top: 0.5em;
        margin: 0;
        padding: 0;
        font-size: clamp(2.5rem, 1vw + 0.5rem, 3rem);
}
/* -------------- NAVBAR -------------- */ 
.navbar {
        position: relative;
        display: flex;
        
        
        left: 0em;
        top: 1em;
        width: 100%;
        height: 100%;
        margin: 0em;
        padding: 0.2em;

}
.navbar ul {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    /* outline: auto; */
}
.navbar a {
        padding: 0;
        margin: 0 em;
        font-size: clamp(1.8rem, 0.5vw + 0.5rem, 3rem);
}
.landing-video {
        transform: translateX(-30%) translateY(-40%);
}

/* -------------- NEWSLETTER -------------- */
.newsletter-container {
    position: relative;
    top: 0em;
    left:0;
    padding: 0.5em;
    display:flex;
    align-items: center;
    justify-content: center;
    
   /* outline: auto; */
}
.newsletter{
    padding: 0.5em;
    max-width: 80%;
}
.newsletter-container h2{
    display:none;
    font-style: italic;
    text-align: center;
    margin-top: 0em;
    padding: 0.3em;
    font-size: clamp(1rem, 1vw + 1rem, 1.1rem);
}
.newsletter h3{
    /* display: none; */
    text-align: center;
    color:cyan;
    font-size: clamp(0.5rem, 0.5vw + 1rem, 2rem);
    background-color: black;
}
input[type="email"]{
    padding:1em;
    outline: unset;
}
#validateEmail {
    text-align: center;
    width: 100%;
    font-family: "Rajdhani";
    font-size: clamp(1rem, 0.5vw + 0.5rem, 2rem);
    margin: 0;
    padding: 0.2em;
    background-color: none;
    color:white;
    outline: unset;
}
.form-button{
    font-family: "Conthrax";
    width: 100%;
    font-size: clamp(1.5rem, 0.2vw + 0.5rem, 1rem);
    background-color: black;
    color:cyan;
    border-top: 10px solid ;
        border-right: 10px solid ;
        border-bottom: 10px solid;
        border-left: 10px solid ;
        border-image:linear-gradient(
            to bottom,
            rgba(50, 8, 201, 0.5),
            rgba(8, 255, 255, 0.8),
            rgba(255, 25, 224, 0.8),
            rgba(255, 25, 224, 0.1)
          ) 1 2 10% 90%;
}

/* -------------- BLOG -------------- */
.blog-container {
    /* outline: 5px solid red; */
    background-color: black;
    position: relative;
    top: 1em;
    max-width: 20em;
    padding: 0.8em;
    margin: 1em auto;
    border-top: 3px solid ;
    border-right: 3px solid ;
    border-bottom: 3px solid;
    border-left: 3px solid ;
    border-image:linear-gradient(
        to bottom,
        rgba(8, 85, 201, 0.5),
        rgba(8, 255, 255, 0.8),
        rgba(255, 25, 224, 0.8),
        rgba(255, 25, 224, 0.1)
      ) 1 2 10% 90%;
}
.blog-post {
    /* outline: auto; */
    padding: 0.5em 1em;
    flex: 0 0 100%;
    margin: 0px;
    position: relative;
    text-align: center;
}
.blog-post img {
    border-radius: 10% 10%;
    max-width: 100%;
    
   
}
.blog-post h2 {
    margin: 0.3em 0;
    text-align:start;
}
.blog-post h3 {
    margin: 0.3em 0;
    text-align:start;
}
.blog-post p {
    text-align:start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.2rem, 0.5vw + 0.7rem, 1rem);
}
.blog-post a {
    float:right;
    position: relative;
    top: -0.5em;
    font-size: clamp(1rem, 0.8vw + 1rem, 2rem);
    color: cyan;
}
/* -------------- FOOTER -------------- */
.footer-container {  
        display:flex;
        margin: 0;
        padding: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        left:0;
        
        border-top: 2px solid;
        border-image: linear-gradient(
        to left,
        #FF00FF 10%,
        rgb(0, 255, 255) 60%,
        #FF00FF 70%
        ) 1 2 10%;
}
.social-links li a i { 
        margin: 0.3em;
        padding: 0;
        width: 40px;
        height: 40px;
        font-size: clamp(1.7rem, 0.8vw + 1rem, 2rem);
        line-height: 2.5rem;  
}
#footer-details {
    padding: 0.2em;
}
}

/* 992px = 62em */
@media screen and (min-width: 62em) and (max-width: 74em) {
 /* -------------- HEADER -------------- */ 
.header-container
{
        display:flex;
        flex-direction: column;
        margin: 0;
        padding: 0;  
        height: 130px;    
        width: 100%;
}
#branding  {
        display:flex;
        justify-content: center;
}
.logotype {
        position: relative;
        left: 0.1em;
        top: 0.5em;
        margin: 0;
        padding: 0;
        font-size: clamp(2.5rem, 1vw + 0.5rem, 3rem);
}
/* -------------- NAVBAR -------------- */ 
.navbar {
        position: relative;
        display: flex;
        
        
        left: 0em;
        top: 1em;
        width: 100%;
        height: 100%;
        margin: 0em;
        padding: 0.2em;

}
.navbar ul {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    /* outline: auto; */
}
.navbar a {
        padding: 0;
        margin: 0 em;
        font-size: clamp(1.8rem, 0.5vw + 0.5rem, 3rem);
}
.landing-video {
        transform: translateX(-30%) translateY(-40%);
}

/* -------------- NEWSLETTER -------------- */
.newsletter-container {
    position: relative;
    top: 0em;
    left:0;
    padding: 0.5em;
    display:flex;
    align-items: center;
    justify-content: center;
    
   /* outline: auto; */
}
.newsletter{
    padding: 0.5em;
    max-width: 80%;
}
.newsletter-container h2{
    display:none;
    font-style: italic;
    text-align: center;
    margin-top: 0em;
    padding: 0.3em;
    font-size: clamp(1rem, 1vw + 1rem, 1.1rem);
}
.newsletter h3{
    /* display: none; */
    text-align: center;
    color:cyan;
    font-size: clamp(0.5rem, 0.5vw + 1rem, 2rem);
    background-color: black;
}
input[type="email"]{
    padding:1em;
    outline: unset;
}
#validateEmail {
    text-align: center;
    width: 100%;
    font-family: "Rajdhani";
    font-size: clamp(1rem, 0.5vw + 0.5rem, 2rem);
    margin: 0;
    padding: 0.2em;
    background-color: none;
    color:white;
    outline: unset;
}
.form-button{
    font-family: "Conthrax";
    width: 100%;
    font-size: clamp(1.5rem, 0.2vw + 0.5rem, 1rem);
    background-color: black;
    color:cyan;
    border-top: 10px solid ;
        border-right: 10px solid ;
        border-bottom: 10px solid;
        border-left: 10px solid ;
        border-image:linear-gradient(
            to bottom,
            rgba(50, 8, 201, 0.5),
            rgba(8, 255, 255, 0.8),
            rgba(255, 25, 224, 0.8),
            rgba(255, 25, 224, 0.1)
          ) 1 2 10% 90%;
}

/* -------------- BLOG -------------- */
.blog-container {
    /* outline: 5px solid red; */
    background-color: black;
    position: relative;
    top: 1em;
    max-width: 20em;
    padding: 0.8em;
    margin: 1em auto;
    border-top: 3px solid ;
    border-right: 3px solid ;
    border-bottom: 3px solid;
    border-left: 3px solid ;
    border-image:linear-gradient(
        to bottom,
        rgba(8, 85, 201, 0.5),
        rgba(8, 255, 255, 0.8),
        rgba(255, 25, 224, 0.8),
        rgba(255, 25, 224, 0.1)
      ) 1 2 10% 90%;
}
.blog-post {
    /* outline: auto; */
    padding: 0.5em 1em;
    flex: 0 0 100%;
    margin: 0px;
    position: relative;
    text-align: center;
}
.blog-post img {
    border-radius: 10% 10%;
    max-width: 100%;
    
   
}
.blog-post h2 {
    margin: 0.3em 0;
    text-align:start;
}
.blog-post h3 {
    margin: 0.3em 0;
    text-align:start;
}
.blog-post p {
    text-align:start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.2rem, 0.5vw + 0.7rem, 1rem);
}
.blog-post a {
    float:right;
    position: relative;
    top: -0.5em;
    font-size: clamp(1rem, 0.8vw + 1rem, 2rem);
    color: cyan;
}
/* -------------- FOOTER -------------- */
.footer-container {  
        display:flex;
        margin: 0;
        padding: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        left:0;
        
        border-top: 2px solid;
        border-image: linear-gradient(
        to left,
        #FF00FF 10%,
        rgb(0, 255, 255) 60%,
        #FF00FF 70%
        ) 1 2 10%;
}
.social-links li a i { 
        margin: 0.3em;
        padding: 0;
        width: 40px;
        height: 40px;
        font-size: clamp(1.7rem, 0.8vw + 1rem, 2rem);
        line-height: 2.5rem;  
}
#footer-details {
    padding: 0.2em;
}
}

/* 1200px = 75em */
@media screen and (min-width: 75em) and (max-width: 80em) {
 /* -------------- HEADER -------------- */ 
.header-container
{
        display:flex;
        flex-direction: column;
        margin: 0;
        padding: 0;  
        height: 130px;    
        width: 100%;
}
#branding  {
        display:flex;
        justify-content: center;
}
.logotype {
        position: relative;
        left: 0.1em;
        top: 0.5em;
        margin: 0;
        padding: 0;
        font-size: clamp(2.5rem, 1vw + 0.5rem, 3rem);
}
/* -------------- NAVBAR -------------- */ 
.navbar {
        position: relative;
        display: flex;
        
        
        left: 0em;
        top: 1em;
        width: 100%;
        height: 100%;
        margin: 0em;
        padding: 0.2em;

}
.navbar ul {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    /* outline: auto; */
}
.navbar a {
        padding: 0;
        margin: 0 em;
        font-size: clamp(1.8rem, 0.5vw + 0.5rem, 3rem);
}
.landing-video {
        transform: translateX(-30%) translateY(-40%);
}

/* -------------- NEWSLETTER -------------- */
.newsletter-container {
    position: relative;
    top: 0em;
    left:0;
    padding: 0.5em;
    display:flex;
    align-items: center;
    justify-content: center;
    
   /* outline: auto; */
}
.newsletter{
    padding: 0.5em;
    max-width: 80%;
}
.newsletter-container h2{
    display:none;
    font-style: italic;
    text-align: center;
    margin-top: 0em;
    padding: 0.3em;
    font-size: clamp(1rem, 1vw + 1rem, 1.1rem);
}
.newsletter h3{
    /* display: none; */
    text-align: center;
    color:cyan;
    font-size: clamp(0.5rem, 0.5vw + 1rem, 2rem);
    background-color: black;
}
input[type="email"]{
    padding:1em;
    outline: unset;
}
#validateEmail {
    text-align: center;
    width: 100%;
    font-family: "Rajdhani";
    font-size: clamp(1rem, 0.5vw + 0.5rem, 2rem);
    margin: 0;
    padding: 0.2em;
    background-color: none;
    color:white;
    outline: unset;
}
.form-button{
    font-family: "Conthrax";
    width: 100%;
    font-size: clamp(1.5rem, 0.2vw + 0.5rem, 1rem);
    background-color: black;
    color:cyan;
    border-top: 10px solid ;
        border-right: 10px solid ;
        border-bottom: 10px solid;
        border-left: 10px solid ;
        border-image:linear-gradient(
            to bottom,
            rgba(50, 8, 201, 0.5),
            rgba(8, 255, 255, 0.8),
            rgba(255, 25, 224, 0.8),
            rgba(255, 25, 224, 0.1)
          ) 1 2 10% 90%;
}

/* -------------- BLOG -------------- */
.blog-container {
    /* outline: 5px solid red; */
    background-color: black;
    position: relative;
    top: 1em;
    max-width: 20em;
    padding: 0.8em;
    margin: 1em auto;
    border-top: 3px solid ;
    border-right: 3px solid ;
    border-bottom: 3px solid;
    border-left: 3px solid ;
    border-image:linear-gradient(
        to bottom,
        rgba(8, 85, 201, 0.5),
        rgba(8, 255, 255, 0.8),
        rgba(255, 25, 224, 0.8),
        rgba(255, 25, 224, 0.1)
      ) 1 2 10% 90%;
}
.blog-post {
    /* outline: auto; */
    padding: 0.5em 1em;
    flex: 0 0 100%;
    margin: 0px;
    position: relative;
    text-align: center;
}
.blog-post img {
    border-radius: 10% 10%;
    max-width: 100%;
    
   
}
.blog-post h2 {
    margin: 0.3em 0;
    text-align:start;
}
.blog-post h3 {
    margin: 0.3em 0;
    text-align:start;
}
.blog-post p {
    text-align:start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.2rem, 0.5vw + 0.7rem, 1rem);
}
.blog-post a {
    float:right;
    position: relative;
    top: -0.5em;
    font-size: clamp(1rem, 0.8vw + 1rem, 2rem);
    color: cyan;
}
/* -------------- FOOTER -------------- */
.footer-container {  
        display:flex;
        margin: 0;
        padding: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        left:0;
        
        border-top: 2px solid;
        border-image: linear-gradient(
        to left,
        #FF00FF 10%,
        rgb(0, 255, 255) 60%,
        #FF00FF 70%
        ) 1 2 10%;
}
.social-links li a i { 
        margin: 0.3em;
        padding: 0;
        width: 40px;
        height: 40px;
        font-size: clamp(1.7rem, 0.8vw + 1rem, 2rem);
        line-height: 2.5rem;  
}
#footer-details {
    padding: 0.2em;
}
}

/* Main Desktop is 1920w and 1080h */

 /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
  /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
   /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
    /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
     /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */