
.error-message-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2em 2em;
}
.error-message-header,
.error-message-text{
    color: red;
    font-size: 1.8rem;
    font-style: italic;
}
.error-message-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}
.footer-container {
    position: fixed;
    bottom:0;
    width: 100%;
}


@media screen and (min-width: 0em) and (max-width:119.938em) {
.error-message-section {
    margin: 2em 2em;
}

.error-message-header,
.error-message-text{
    font-size: 1.5rem;
}}