@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');


.error-message {
    margin: 5em;
}

.error-message h2{
    color: red;
    margin:0;
    font-size: 2em;
    font-style: italic;
    
}
.error-message p{  
    font-size: 2em;
    
}

