
.error-message {
    margin: 5em;
}
.error-message h2{
    color: red;
    margin:0;
    font-size: 2em;
    font-style: italic;
}
.error-message p{  
    font-size: 2em;
}

/* 320px = 20em */
@media screen and (min-width: 20em) and (max-width:119.938em) {

.logotype {
    position: relative;
    top: -1em;
}
}