/* - HIDDEN - */
.blog-post img,
.blog-post a,
.newsletter-container,
.landing-text {
    display: none;} 

/* - BLOG - */
.blog-container {
    position: absolute;
    top: 4em;
    left: 15em;
    max-width: 100%;
    height: auto;
    margin: auto auto;
    text-align: center;
    filter: drop-shadow(0 0 8px rgba(14, 0, 214, 0.966));}
.blog-container li {
    margin: 1em 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 0.5vw + 1rem, 1rem);
    text-align: start;}
.blog-post {
height: auto;
max-width:40em;
background-color: black;
border-top: 4px solid;
border-right: 4px solid;
border-bottom: 4px solid;
border-left: 4px solid;
border-image:linear-gradient(
to bottom,
rgba(8, 85, 201, 0.5),
rgba(8, 255, 255, 0.8),
rgba(255, 25, 224, 0.8),
rgba(255, 25, 224, 0.1)
) 1 2 10% 90%; } 
.blog-post img {
text-align-last: center;
width: 40%;
height: 7em;
border-top: 8px solid;
border-right: 8px solid;
border-bottom: 8px solid;
border-left: 8px solid;
border-image:linear-gradient(
to bottom,
rgba(8, 85, 201, 0.5),
rgba(8, 255, 255, 0.8),
rgba(255, 25, 224, 0.8),
rgba(255, 25, 224, 0.1)
) 1 2 10% 90%; } 
.blog-post h2 {
    text-align:start;
    font-size: clamp(1rem, 0.5vw + 1rem, 2rem);}
.blog-post h3 {
    text-align:start;
    font-size: clamp(1rem, 0.5vw + 1rem, 2rem);}
.blog-post p {
    text-align:start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 0.5vw + 1rem, 1rem);
}
.blog-post a {
    float: right;
    position: relative;
    top: 0.4em;
    margin:0;
    font-size: clamp(1rem, 1vw + 1rem, 1.2rem);
    color: cyan;}


.footer-container {
    position: fixed;
    bottom: 0;
}

/* - MEDIA QUERIES - */ 
@media screen and (min-width: 20em) and (max-width: 64em){
  
/* -------------- BLOG -------------- */
.blog-container-wrapper {
    padding: 0.5em 1em;
}
.blog-container {
    background-color: black;
    position: relative;
    top: 0em;
    left:0;
    /* height: auto; */
    padding: 0 0.5em;
    margin: 1em 0;
    margin-bottom: 5em;
    border-top: 3px solid ;
    border-right: 3px solid ;
    border-bottom: 3px solid;
    border-left: 3px solid ;
    border-image:linear-gradient(
        to bottom,
        rgba(8, 85, 201, 0.5),
        rgba(8, 255, 255, 0.8),
        rgba(255, 25, 224, 0.8),
        rgba(255, 25, 224, 0.1)
      ) 1 2 10% 90%;
}
.blog-post {
    height: auto;
    margin: 0;
    padding:0.5em;
    background-color: black;
    border-top: 0px solid;
    border-right: 0px solid;
    border-bottom: 0px solid;
    border-left: 0px solid;
    border-image:linear-gradient(
    to bottom,
    rgba(8, 85, 201, 0.5),
    rgba(8, 255, 255, 0.8),
    rgba(255, 25, 224, 0.8),
    rgba(255, 25, 224, 0.1)
    ) 1 2 10% 90%; } 

.blog-post h2 {
    font-size: clamp(0.3rem, 0.5vw + 0.8rem, 3rem);
    margin: 0em 0;
    text-align:start;
}
.blog-post h3 {
    font-size: clamp(0.5rem, 0.8vw + 1rem, 3rem);
    margin: 0.1em 0;
    text-align:start;
}
.blog-container p,
.blog-container li  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.2rem, 0.2vw + 0.8rem, 2rem);
}
}



