body {
  
}


/* - RESOURCES SECTION- */
.resource-section-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
margin-top: 8em;
margin-bottom: 10.8em;
 
}
.resource-section {
  
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5em;
 
 
}
.resource{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  background-color: black;
  border: 4px solid;
  border-image: linear-gradient(
    to bottom,
    rgba(8, 85, 201, 0.5),
    rgba(8, 255, 255, 0.8),
    rgba(255, 25, 224, 0.8),
    rgba(255, 25, 224, 0.1)
  ) 1 2 10% 90%;}

.resource-image {
  object-fit: cover;
  width: 25em;
  aspect-ratio: 1.7;
  margin-bottom: 1em;
  border: 4px solid;
  border-image: linear-gradient(
    to bottom,
    rgba(8, 85, 201, 0.5),
    rgba(8, 255, 255, 0.8),
    rgba(255, 25, 224, 0.8),
    rgba(255, 25, 224, 0.1)
  ) 1 2 10% 90%;
}


.resource-header
 {
  font-size: clamp(0.2rem, 1vw + 1rem, 3rem);
  text-align: center;

 }
 .resource-text
 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.2rem, 1vw + 0.5rem, 2rem);
  text-align: center;
}

  .resource-link
 {
    text-decoration: unset;
    color: white;
  }


/* - MEDIA QUERIES - */

@media screen and (min-width: 0em) and (max-width:119em){

    /* -------------- BLOG -------------- */
    .resource-section-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 1em 0;
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .resource-section {
      display: flex;
      justify-content: center;
      height:20em;
     width: 15em;
      gap: 1em;
    }
  
    .resource,
    .resource,
    .resource {
      display: block;
      margin: 0;
      padding:0em;
     
    }
  
    .resource p, 
    .resource p, 
    .resource p {
      margin: 0.3em 0;
      /* padding: 0.7em 0.3em; */
      font-size: clamp(0.2rem, 1vw + 1rem, 1rem);
    }
    .resource h2, 
    .resource h2, 
    .resource h2 {
      margin: 0.2em 0;
      padding: 0.2em 0;
      font-size: clamp(0.2rem, 1vw + 1.5rem, 2rem);
    }
  
  /* -------------- FOOTER-------------- */
    .footer-container {
      left: 0;
      right:0;
      bottom: 0;
      top: 0;
      width: 100%;
      height:4.5em;
      background-color: rgba(0, 0, 0, 0.9);
      border-top: 2px solid;
      border-image: linear-gradient(
        to left,
        
        #301aaf 10%,
        rgb(0, 255, 255) 60%,
        #301aaf 70%
        
      ) 1 2 10%;
    }
    .social-links li a i {
      width: 42px;
      height: 42px;
      line-height: 2.7rem;
      font-size: clamp(1.8rem, 1vw + 1rem, 3rem);
    }}



@media screen and (min-width: 23em) and (max-width:119em){
  /* -------------- BLOG -------------- */
.resource-section-container {
 margin: 4em 0;
}
  .resource-section {
  gap: 3em;
  
  }
}

@media screen and (min-height: 50.75em) and (max-width:119em){
 
 .resource-section-container{
  /* margin:9em 0; */
  margin-bottom: 10em;
  margin-top:7em;
} 
.resource-section {
  gap: 5em;
}
}

@media screen and (min-width: 25em)and (max-width:119em) {
  /* -------------- BLOG -------------- */
.resource-section-container {
margin-top:5em;
margin-bottom:7em;
}
  .resource-section {
    width: 16em;
  }
}


/* 600px */
@media screen and (min-width: 37.5em) and (max-width:119em){
  
  .resource-section-container {
    margin-bottom: 7em;
    margin-top:6em;
  }
  .resource-section {
    margin-bottom: 0em;
    gap: 4em;
  }

/* RESETTER */
.resource {
  min-width: auto;
}
 
}
@media screen and (min-width: 48em) and (max-width:119em){
.resource-section-container {

margin-top:10em;
margin-bottom:17em;
}
  .resource-section {
    
    gap: 3.5em;

  }
  .resource,
  .resource,
  .resource {
    margin: 1em 0;
  }
}
/* 992px */
@media screen and (min-width:62em) and (max-width:119em){
  .resource-section-container {

    margin-top:15em;
    margin-bottom:23em;
    }
      .resource-section {
        
        gap: 7em;
    
      }
}


