/* - HIDDEN - */
.blog-post img,
.blog-post a,
.newsletter-container,
.landing-text {
    display: none;} 



/* - BLOG - */

.blog-container {
    margin:0;
    padding:0;
    text-align: center;
    filter: drop-shadow(0 0 8px rgba(14, 0, 214, 0.966));}
.blog-container li {
    margin: 1em 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 0.5vw + 1rem, 1rem);
    text-align: start;}
.blog-post {
    /* outline: auto; */
height: auto;
max-width: 30em;
background-color: black;
border-top: 4px solid;
border-right: 4px solid;
border-bottom: 4px solid;
border-left: 4px solid;
border-image:linear-gradient(
to bottom,
rgba(8, 85, 201, 0.5),
rgba(8, 255, 255, 0.8),
rgba(255, 25, 224, 0.8),
rgba(255, 25, 224, 0.1)
) 1 2 10% 90%; } 
.blog-post img {
text-align-last: center;
width: 40%;
height: 7em;
border-top: 8px solid;
border-right: 8px solid;
border-bottom: 8px solid;
border-left: 8px solid;
border-image:linear-gradient(
to bottom,
rgba(8, 85, 201, 0.5),
rgba(8, 255, 255, 0.8),
rgba(255, 25, 224, 0.8),
rgba(255, 25, 224, 0.1)
) 1 2 10% 90%; } 
.blog-post h2 {
    text-align:start;
    font-size: clamp(1rem, 0.5vw + 1rem, 2rem);}
.blog-post h3 {
    text-align:start;
    font-size: clamp(1rem, 0.5vw + 1rem, 2rem);}
.blog-post p {
    height: auto;
    margin:1em 0;
    text-align:start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 0.5vw + 1rem, 1rem);
}
.blog-post a {
    float: right;
    position: relative;
    top: 0.4em;
    margin:0;
    font-size: clamp(1rem, 1vw + 1rem, 1.2rem);
    color: cyan;}

.footer-container {
    top:-32em;
}


/* - MEDIA QUERIES - */ 
@media screen and (min-width: 0em) and (max-width:119em){

    .body {
        overflow:visible;
    }

/* -------------- BLOG -------------- */
.blog-container-wrapper {
    margin-bottom: 5em;

}
.blog-container {
    width:17em;
   
}
.blog-post {
    height: 40em;
    width: 35em;

    background-color: black;
   
    } 

.blog-post h2 {
    /* font-size: clamp(0.3rem, 0.5vw + 0.8rem, 3rem); */
    margin: 0em 0;
    text-align:start;
}
.blog-post h3 {
    font-size: clamp(0.2rem, 0.2vw + 1rem, 3rem);
    margin: 0.1em 0;
    /* text-align:start; */
}

.blog-post li  {
    margin-bottom: 0em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.2rem, 0.2vw + 0.8rem, 2rem);
}
.blog-post p,
.blog-post p_1,
.blog-post p_2 {
    /* display: none; */
    margin: 0.5em 0;
    /* height: 3em; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.2rem, 0.2vw + 0.8rem, 2rem);
}

.footer-container {
    top: 0;
}

}

/* 600px */
@media screen and (min-width: 37.5em) and (max-width:119em){
  
  .blog-container-wrapper {
    margin-bottom: 8em;
    margin-top:5em;
  }

}

@media screen and (min-width: 48em) and (max-width:119em){
    .blog-container-wrapper {
        margin-bottom: 2em;
        /* margin-top:5em; */
      }

      .blog-post {
        height:auto;
      }
      .blog-post p,
      .blog-post li {
        font-size: clamp(0.2rem, 1vw + 0.7rem, 3rem);
      }
}