

.article-section-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.article-section {
  display: flex;
  flex-direction: row-reverse;
  background-color: black;
  width: 80em;
  border: 4px solid;
}


.article-image {
  object-fit: contain;
  width: 20em;
  aspect-ratio: 1.7;
  margin-bottom: 0.5em;
}
.article-content {
  padding: 1em 3em;
}
.article-header {
    font-family: "Rajdhani";
    font-size: clamp(0.2rem, 1vw + 1rem, 3rem);
    margin: 0.5em 0;
}
.article-text {
font-family: Arial, Helvetica, sans-serif;
line-height: 1.3;
}
.article-list {
  margin: 1em 0;
}

/* - MEDIA QUERIES - */

@media screen and (min-width: 0em) and (max-width: 119em){
.article-section-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: clamp(0.2em, 1vw + 2em, 40em);
  margin-bottom:clamp(0.2em, 1vw + 2em, 40em);
}

.article-section{
  margin: 0 clamp(0.2em, 1vw + 1em, 40em);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.article {
  padding: 0 clamp(0.2em, 1vw + 1em, 30em);
  width: auto;
  text-align: center;
  border: 2px solid;
  
}

.article-image {
  object-fit: contain;
  margin-top: clamp(0.5em, 1vh + 0.5em, 10em);
  width: 10em;
  border: 2px solid;
  
}
.article-text, 
.article-list, 
.article-header {
  text-align: start;
}
}
  
  
@media screen and (min-width: 0em) and (max-width:119em){

.article-section {
  padding:0;
}
.article-content {
  padding:0;
}
}


  
  @media screen and (min-width: 48em) and (max-width:119em){
    
    .article-section-container {
      margin-bottom: 1.6em;
      
    }

    .article-image {
      width: 12em;
      border: 4px solid;
    }
    .article-header {
      font-size: clamp(0.5rem, 1vw + 1.5rem, 3rem);
    }
  
  }
  
  
  @media screen and (min-width: 62em) and (max-width:119em) {
   

    .article-section-container {
      margin-top: 10em;
      margin-bottom: 17em;
      }
  
      .article-section {
        margin: 0 5em;
      }
      .article {
        padding: 0 3em;
      }
      .article-image {
        width: 20em;
      }
      .article-header {
        font-size: clamp(0.5rem, 1vw + 2rem, 5rem);
      }
      .article-text {
        font-size: clamp(0.5rem, 1vw + 1rem, 5rem);
      }
  }