@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

/* Global */
*{
    /* outline: 1px solid greenyellow; */
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

/* clamp() format: (min, desired value, max) */
/* :root {
    --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
    --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
    --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
    --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
    --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
    --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);
  } */
body {
    background-color: rgb(87, 80, 80); 
    font-family: 'Rajdhani', sans-serif;
    font-size: clamp(1rem, 1vw + 0.5rem, 5rem);
    color: white;
    width: 100%;
    /* overflow-x:hidden; */
}
.header-container{
    display:flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3em;
    background-color:rgb(7, 7, 7, 0.4);
    border-bottom: 2px solid;
        border-image: linear-gradient(
        to right,
        #FF00FF 10%,
        rgb(0, 255, 255) 60%,
        #FF00FF 70%
        ) 1 2 10%;
}
.logotype{
    position: relative;
    top: 0.2em;
    left: 4%;
    color:#ffffff;
    text-decoration: unset;
    /* font-size: var(--step-5); */
    /* font-size: 4rem; */
    font-size: clamp(4rem, 1vw + 0.5rem, 5rem);
    margin: 0.5em;
    font-family: "Conthrax";
}
.landing-video,
.landing-overlay { 
    /* display:none; */
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 300%;
    min-height: 300%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateY(10deg);
    background-size: cover;
    background-position: center;
}

.landing-overlay {
    background: #524399;
    mix-blend-mode: overlay;
}

/* ----------- NAV-BAR ----------- */

.navbar {
    width: 30%;
    position: relative;
    top: -1.7em;
    left: -6em;
    margin: 1em;
}

.navbar ul {
    display: flex;
    /* justify-content: space-between; */
    gap: 3em;
    list-style: none;
    margin: 0;
    padding: 1em;
}
.navbar a {
    color:#ffffff;
    font-size: clamp(3rem, 2vw + 1.5rem, 5rem);
    text-transform: uppercase;
    text-decoration: unset;
}





.navbar .highlight, 
.navbar .current a
{
 color:e8491d;
 font-weight:bold;
}
 .navbar a:hover{
 color:#05f7ff;
 font-weight:bold;
}
 .logotype:hover{
 color:#05f7ff;
}

.form-button:hover{
 background-color:#05f7ff;
 color: black;
}
/* -------------- FOOTER -------------- */
.footer-container {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 5em;
    background-color: rgba(0, 0, 0, 0.9) ;
    border-top: 2px solid;
    border-image: linear-gradient(
        to left,
    #FF00FF 10%,
    rgb(0, 255, 255) 60%,
    #FF00FF 70%
) 1 2 10%;
}

#footer-details {
    padding: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-top: 5px;
}
.social-links li a i {
    margin: 0 30px;
    width: 80px;
    height: 80px;
    padding: 24px 0;
    border-radius: 50%;
    font-size: clamp(3.5rem, 1vw + 0.5rem, 5rem);
    line-height: 2rem;
    text-align: center;
    color: white;
    background-color: rgb(35, 0, 236);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
    background:greenyellow;
    color: black;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7 {
display:none;
position: relative;
top:200px;}

 /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
 /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
 /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
 /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
 /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
 /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */

 /* 320px = 20em green */
 @media screen and (min-width: 20em) and (max-width: 21em){
    body {background-color: green; width: 100%; }
    .header-container
    {
        display:flex;
        flex-direction: column;
        margin: 0;
        padding: 0;  
        height: 120px;    
        width: 100%;
    }
    #branding  {
        display:flex;
        justify-content: center;
    }
    .logotype {
        position: relative;
        left: 0.1em;
        top: 0.5em;
        margin: 0;
        padding: 0;
        font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);
    }
 
.navbar {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        left: 0.2em;
        top: 1em;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
.navbar a {
        padding: 0;
        margin: 0 em;
        font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);
    }
    .landing-video {
        transform: translateX(-30%) translateY(-40%);
    }
    .landing-text h2 {
        position: relative;
        left: 0.4em;
        margin: 0;
        padding: 0; 
        font-size: 1.8rem;
    }
    .newsletter {
        position: relative;
        top: 0;
        width: 100%;
        left:0;
        margin: 0;
        padding: 0;
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-right: none;
        border-left: none;
        border-image: linear-gradient(
            to left,
            #FF00FF 10%,
            rgb(0, 255, 255) 60%,
            #FF00FF 70%
            ) 1 2 10%;
        
    }
    .newsletter h3{
        
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .newsletter button {
        width: 100%;
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }
    #validateEmail {
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-right: none;
        border-left: none;
        border-image: linear-gradient(
            to right,
            #FF00FF 10%,
            rgb(0, 255, 255) 60%,
            #FF00FF 70%
            ) 1 2 10%;
    }
    /* FOOTER */
    .footer-container {  
        position: fixed;
        bottom: 0;
        width: 100%;
        
        border-top: 2px solid;
        border-image: linear-gradient(
        to left,
        #FF00FF 10%,
        rgb(0, 255, 255) 60%,
        #FF00FF 70%
        ) 1 2 10%;
    }

    .social-links li a i { 
        margin: 5px;
        padding: 0;
        width: 50px;
        height: 50px;
        font-size: 2.3rem;
        line-height: 3.2rem;  
}
}

/* 375px = 23.438em green */
@media screen and (min-width: 23.438em) and (max-width: 29em){
    body {background-color: green; }
    .header-container
    {
        display:flex;
        flex-direction: column;
        margin: 0;
        padding: 0;  
        height: 120px;    
        width: 100%;
    }
    #branding  {
        display:flex;
        justify-content: center;
    }
    .logotype {
        position: relative;
        left: 0.1em;
        top: 0.5em;
        margin: 0;
        padding: 0;
        font-size: clamp(2rem, 1vw + 0.5rem, 1.5rem);
    }
 
.navbar {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        /* flex-direction: column; */
        left: 0.2em;
        top: 1em;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
.navbar a {
        padding: 0;
        margin: 0 em;
        font-size: clamp(1.5rem, 1vw + 0.5rem, 1.5rem);
    }
    .landing-video {
        transform: translateX(-30%) translateY(-40%);
    }

/* NEWSLETTER */

.newsletter-container {
    position: relative;
    top: 5em;
    left:0;

    padding: 0.5em;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
   /* outline: auto; */
}
.newsletter{
    padding: 0.5em;
    max-width: 50%;
}
.newsletter-container h2{
    font-style: italic;
    text-align: center;
    margin-top: 0em;
    padding: 0.3em;
    font-size: clamp(1rem, 1vw + 1rem, 1.1rem);
}

.newsletter h3{
    /* display: none; */
    text-align: center;
    color:cyan;
    font-size: clamp(0.2rem, 0.5vw + 1rem, 0.8rem);
    background-color: black;
}

input[type="email"]{
    padding:1em;
    outline: unset;
}

#validateEmail {
    text-align: center;
    width: 100%;
    font-family: "Rajdhani";
    font-size: clamp(0.8rem, 0.5vw + 0.5rem, 2rem);
    margin: 0;
    padding: 0.2em;
    background-color: none;
    color:white;
    outline: unset;
}
/* SUBSCRIBE BUTTON */
.form-button{
    font-family: "Conthrax";
    width: 100%;
 
    font-size: clamp(1rem, 0.2vw + 0.5rem, 1rem);
    background-color: black;
    color:cyan;
    border-top: 10px solid ;
        border-right: 10px solid ;
        border-bottom: 10px solid;
        border-left: 10px solid ;
        border-image:linear-gradient(
            to bottom,
            rgba(50, 8, 201, 0.5),
            rgba(8, 255, 255, 0.8),
            rgba(255, 25, 224, 0.8),
            rgba(255, 25, 224, 0.1)
          ) 1 2 10% 90%;
}

/* - BLOG SECTION - */
.blogs { 
    /* outline: 4px solid yellow; */
  max-width: 20em;
  max-height: 20em;
  gap: 2em;
  display:flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 2em;
  background-color:black;
    border-bottom: 2px solid;
        border-image: linear-gradient(
        to right,
        #FF00FF 10%,
        rgb(0, 255, 255) 60%,
        #FF00FF 70%
        ) 1 2 10%;
}
.blog-post-1 {
    
    margin: 0.5em;
}
.blog-post-1 h2 {
  font-size: clamp(1rem, 1vw + 0.5rem, 3rem);
  margin-bottom: 0.5em;
  margin-top: 0.7em;
  padding-left: 0.7em;
  /* outline: solid yellow 4px; */
}



.blog-post-1 p {
  font-size: clamp(0.2rem, 0.5vw + 0.5rem, 1rem);
  line-height: 1.5;
  margin-bottom: 1.25em;
  padding-left: 1em;
}

.blog-post-1 a {
  display: inline-block;
  background-color: #0077CC;
  color: #fff;
  padding: 0.25em .25em;
  border-radius: 0.313rem;
  text-decoration: none;
}

.blog-post-1 a:hover {
  background-color: #005CA6;
}


.blog-2  {
    display: none;
    font-size: clamp(1rem, 1vw + 0.5rem, 3rem);
    margin-bottom: 0.5em;
    margin-top: 0.7em;
    padding-left: 0.7em;
    /* outline: solid yellow 4px; */
  }
    
  
    /* FOOTER */
    .footer-container {  
        position: fixed;
        bottom: 0;
        width: 100%;
        left:0;
        border-top: 2px solid;
        border-image: linear-gradient(
        to left,
        #FF00FF 10%,
        rgb(0, 255, 255) 60%,
        #FF00FF 70%
        ) 1 2 10%;
    }

    .social-links li a i { 
        margin: 0.3em;
        padding: 0;
        width: 50px;
        height: 50px;
        font-size: 2.3rem;
        line-height: 3.2rem;  
}
#footer-details {
    padding: 0.2em;
}
}

/* 480px = 30em blue;  */
@media screen and (min-width: 30em) and (max-width: 47em) 
{body {background-color: blue; width: 100%;}
    .header-container {
    display:flex;
    flex-direction: column;
    margin: 0;
    padding: 0;  
    height: 150px; 
    width: 100%;   
    }
    #branding  {
        display:flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .logotype {
        position: relative;
        left: 0.1em;
        top: 1em;
        margin: 0;
        padding: 0;
        font-size: 3rem; 
    }
 
.navbar {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        left: 0.2em;
        top: 1.8em;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
.navbar a {
        padding: 0;
        margin: 0 em;
        font-size: 1.8rem;  
    }
    .landing-video {
        transform: translateX(-30%) translateY(-40%);
    }
    .landing-text h2 {
        position: relative;
        left: 0.4em;
        top: 1em;
        margin: 0;
        padding: 0; 
        font-size: 2.2rem;
    }

     /* NEWSLETTER */
    .newsletter {
        position: relative;
        left: 0;
        top: 50px;
        width: 100%;
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-right: none;
        border-left: none;
        border-image: linear-gradient(
            to right,
            #FF00FF 10%,
            rgb(0, 255, 255) 60%,
            #FF00FF 70%
            ) 1 2 10%;
    }
    .newsletter h3 {
       
        background-color: black;
    }
    .newsletter button {
        height: 70px;
        width: 100%;
        font-size: 2.3rem;
        border-top: 10px solid ;
        border-right: 10px solid ;
        border-bottom: 10px solid;
        border-left: 10px solid ;
        border-image:linear-gradient(
            to top,
            rgba(50, 8, 201, 0.5),
            rgba(8, 255, 255, 0.8),
            rgba(255, 25, 224, 0.8),
            rgba(255, 25, 224, 0.1)
          ) 1 2 10% 90%;
    }
    #validateEmail {
        width: 100%;
        font-size: 1.2rem;
        text-align: center;
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-right: none;
        border-left: none;
        border-image: linear-gradient(
            to right,
            #FF00FF 10%,
            rgb(0, 255, 255) 60%,
            #FF00FF 70%
            ) 1 2 10%;
    }
    /* FOOTER */
    .footer-container {  
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 80px;
        padding:0;
        margin:0;
        align-items: center;
        border-top: 2px solid;
        border-image: linear-gradient(
        to left,
        #FF00FF 10%,
        rgb(0, 255, 255) 60%,
        #FF00FF 70%
        ) 1 2 10%;
    }
    .social-links {
        /* outline: auto; */
        position: relative;
        bottom: 5px;
        
    }
    .social-links li a i { 
        width: 53px;
        height: 50px;
        font-size: 2.2rem;
        line-height: 3.2rem;  
        margin: 0 10px;
        padding: 0;
}
}

/* 768px = 48em purple */
@media screen and (min-width: 48em) and (max-width: 61em){
    body {background-color: purple;width: 100%; }
    
    #branding  {
        display:flex;
        justify-content: center;
        margin-top: 10px;
        width: 100%;
    }
    #branding a {
        position: relative;
        bottom: 20px;
        margin: 0;
        padding: 0;
        font-size: 5rem;
        
    }
    .header-container
    {
        display:flex;
        flex-direction: column;
        margin: 0;
        padding: 0;  
        height: 150px;    
        width: 100%;
    }
    .navbar {
        margin: 0;
        padding: 0;  
        position: relative;
        bottom: 50px;
        left: 25px;
    }
    .navbar a {
        margin: 0;
        position: relative;
        bottom: 27px;
        font-size: 2.5rem;  
    }
    .landing-video {
        transform: translateX(-30%) translateY(-35%);
    }

    .landing-text h2 {
        margin: 0;
        padding: 0; 
        font-size: 3rem;
        text-align: center;
        /* display:none; */
    }
    .newsletter {
        display:flex;
        width: 100%;
    }
    .newsletter h3{
        
        text-align: center;
    }
    .newsletter button {
        position: relative;
        left:0px;
        top:0;
        width: 100%;
        font-size: 2rem;
    }
    #validateEmail {
        width: 100%;
        text-align: center;
    }
    /* FOOTER */
    .footer-container {  
        position: relative;
        top: 190px;
        left:0px;
        width: 100%;
    }
    .social-links li a i { 
        width: 70px;
        height: 70px;
        font-size: 2.8rem;
        line-height: 1.6rem;  
}
}

/* 992px = 62em brown */
@media screen and (min-width: 62em) and (max-width: 74em) {
    body {background-color: brown; }
    .header-container
    {
        display:flex;
        flex-direction: column;
        margin: 0;
        padding: 0;  
        height: 190px;    
        background-color: rgba(0, 0, 0, 0.4);
    }
    #branding  {
        display:flex;
        justify-content: center;
        margin-top: 10px;
    }
    .logotype {
        position: relative;
        left: -0.2em;
        top:0.5em;
        margin: 0;
        padding: 0;
        font-size: 4rem; 
    }
 
.navbar {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        left: 2em;
        top: 1.8em;
        width: 90%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
.navbar a {
        padding: 0;
        margin: 0 em;
        font-size: clamp(0.2rem, 1vw + 0.1rem, 2rem);
    }
   .landing-video {
        min-width: 100%;
        width: 300%;
        top: 40%;
        left: 60%;
        transform: translateX(-50%) translateY(-40%) rotate(210deg);
    }
    .landing-overlay {
        background: #4404f3;
        mix-blend-mode:darken;
    }

    .landing-text h2 {
        margin: 0;
        padding: 0; 
        font-size: 4rem;
        text-align: center;
        /* display:none; */
    }
    .newsletter {
        position: relative;
        top: 21px;
        left: 0;
        width: 100%;
        border-top: 8px solid ;
        border-bottom: 8px solid ;
        border-image:linear-gradient(
            to top right,
            rgba(16, 253, 253, 0.8),
            rgb(4, 203, 253),
            rgb(255, 3, 221),
            rgba(1, 14, 190, 0.8) 
          ) 1 2 10%;
    }
    .newsletter h3{
        
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        
    }
    .newsletter button {
        width: 100%;
        font-size: 3rem;
    }
    #validateEmail {
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
        border-top: 8px solid ;
        border-bottom: 8px solid ;
        border-image:linear-gradient(
            to top right,
            rgba(16, 253, 253, 0.8),
            rgb(4, 203, 253),
            rgba(255, 3, 221, 0.9),
            rgba(1, 14, 190, 0.8) 
          ) 1 2 10%;
    }
    /* FOOTER */
    .footer-container { 
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .social-links li a i { 
        margin: 10px;
        padding: 0px;
        width: 75px;
        height: 75px;
        font-size: 3.5rem;
        line-height: 4.9rem;  
}
}

/* 1200px = 75em red */
@media screen and (min-width: 75em) and (max-width: 80em) {
    body {background-color:  red; }
    .header-container {
        display:flex;
        margin: 0;
        padding: 0;  
        height: 100px; 
        width: 100%;   
        }
    #branding  {
            /* outline: auto; */
            display:flex;
            justify-content: center;
            margin: 0;
            padding: 0;
            
        }
    .logotype {
            position: relative;
            left: 0em;
            top:0.5em;
            margin: 0.5em;
            padding: 0;
            font-size: clamp(4rem, 1vw + 0.5rem, 1.5rem);
        }
     
        .navbar {
            width: 50%;
            position: relative;
            top: 0.5em;
            left: -1.5em;
            margin: 0.5em;
        }
        
        .navbar ul {
            display: flex;
            /* justify-content: space-between; */
            gap: 3em;
            list-style: none;
            margin: 0;
            padding: 1em;
        }
        .navbar a {
            color:#ffffff;
            font-size: clamp(3rem, 2vw + 1.5rem, 5rem);
            text-transform: uppercase;
            text-decoration: unset;
        }
  
        .landing-video {
            min-width: 100%;
            width: 500%;
            transform: translateX(-53%) translateY(-45%) rotate(35deg);
        }
        .landing-overlay {
            background: #4404f3;
            mix-blend-mode:darken;
        }

    .landing-text h2 {
        margin: 0;
        padding: 0; 
        font-size: clamp(2rem, 2vw + 1.5rem, 5rem);
        text-align: center;
    }
    .newsletter {
        position: relative;
        left: 0;
        top:30px;
        width: 100%;
        border-top: 8px solid ;
        border-bottom: 8px solid ;
        border-image:linear-gradient(
            to top right,
            rgba(16, 253, 253, 0.8),
            rgb(4, 203, 253),
            rgb(255, 3, 221),
            rgba(1, 14, 190, 0.8) 
          ) 1 2 10%;
         
    }
    .newsletter h3{
        
        text-align: center;
        background-color: black;
        
    }
    .newsletter button {
        width: 100%;
        font-size: 3rem;
        margin-top: px;
      }

    #validateEmail {
        width: 100%;
        text-align: center;
    }
    /* FOOTER */
    .footer-container {  
        position: relative;
        top: 200px;
        width: 100%;
    }
    .social-links li a i { 
        border-style:solid;
        border-width: 3px;
        border-color: cyan;
        width: 100px;
        height: 100px;
        margin: 10px 5px;
        font-size: clamp(1rem, 1vw + 0.5rem, 4rem);
        line-height: 2.7rem;  
    }
    .list-item {
        margin: 5px 15px;
    }
} 

/* Main Desktop is 1920w and 1080h */

 /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
  /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
   /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
    /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */
     /* RESPONSIVENESS: MEDIA QUERIES */ /* RESPONSIVENESS: MEDIA QUERIES */